# client/.dockerignore

node_modules
.svelte-kit
build
.env
.env.local
.env.\*.local
bun.lockb
.DS_Store
Thumbs.db

---

# server/.dockerignore

**pycache**
_.pyc
_.pyo
_.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage._
.cache
nosetests.xml
coverage.xml
_.cover
_.log
.git
.mypy_cache
.pytest_cache
.DS_Store
